<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Add devage.serviceModel section handler -->
    <section name="demo.certificates"
             type="WCFDemo.Configuration.Section, WCFDemo" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
        <serviceActivations>
          <add factory="WCFDemo.Certificates.CertificateServiceHostFactory" relativeAddress="DemoService.svc" service="WCFDemo.DemoService"/>
        </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <wsHttpBinding>
        <binding name="demoBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" 
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="DemoServiceBehavior" name="WCFDemo.DemoService">
        <endpoint behaviorConfiguration="DemoServiceEndpointBehavior" binding="wsHttpBinding"
                  bindingConfiguration="demoBinding" contract="IDemoService" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="SchemaValidator" type="Microsoft.ServiceModel.Samples.SchemaValidationBehaviorExtensionElement, WCFDemo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DemoServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" /> <!--externalMetadataLocation="../DemoService.wsdl"-->
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="DemoServiceEndpointBehavior">
          <SchemaValidator validateRequest="True" validateReply="True" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <demo.certificates>
    <services>
      <add name="DemoService" serverCertificate="Certs\Server.pfx" clientCertificates="Certs\Client.cer" />
    </services>
  </demo.certificates>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>  
</configuration>
