<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDemoService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Certificate" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:36122/DemoService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IDemoService" contract="Service.IDemoService"
                name="WSHttpBinding_IDemoService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA7DtBmPEhCUdGQyTD42gVPWN9m64gAAAAAQAAABwCAAAwggIYMIIBhaADAgECAhBn9fg9ltdJmkUgvAb6SZMEMAkGBSsOAwIdBQAwIjEgMB4GA1UEAxMXSm9lJ3MtU29mdHdhcmUtRW1wb3JpdW0wHhcNMTMxMjMxMjMwMDAwWhcNMzkxMjMxMjM1OTU5WjAiMSAwHgYDVQQDExdKb2Uncy1Tb2Z0d2FyZS1FbXBvcml1bTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAnLFoRTS462HJaKGoDtADUqBn5UbogPMGOeIq3E6qKWLRX4ofQiWtyBe16I2KqdDsS3qnFFsFVneq1D/VQikBOWBx+5MPInyDbAK9gNaQuwPNL0juA1X0tL/cocL3YEQ0Y5Q81+lPBomUHui3FW3LG7f4ws7L4NtsUfy6BSh5bskCAwEAAaNXMFUwUwYDVR0BBEwwSoAQ0RkZaYmlAKsEVWTM1SCIGaEkMCIxIDAeBgNVBAMTF0pvZSdzLVNvZnR3YXJlLUVtcG9yaXVtghBn9fg9ltdJmkUgvAb6SZMEMAkGBSsOAwIdBQADgYEAW6YVKNc4mzmw+cyY48sF0MFiWpwjR0XQGh3qxwROaxm2BfJingxe65OH22Up8csFoVPYgSySjcAlQznPhyupnxE+fDeevwBbck38y48jvRZphDRHA43fy5CE6RKsZcVzNGSP3cg+e3U26/LEDrHlxsFvWnKbo9HtVgZ+RW8JrKs=" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>